# .gitignore

# Ignore Python bytecode files and cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.bin
*.json
*.pt

# Ignore virtual environment directory
venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Visual Studio Code directory
.vscode/

